footer.footer(style='margin-bottom: 20px;')
  .container-fluid.bg-dark.text-white.py-3
    .row
      .col-12.d-flex.align-items-center.justify-content-center
        span.text-muted(style='font-size: 1rem; margin-right: 0.5rem;') Your sneaker news source
        a(href='https://tiktok.com/@copsneakers_com', class='text-white', style='text-decoration: none; margin-left: 0.5rem; margin-right: 0.5rem; padding: 0.25rem 0.5rem;')
          | TikTok
        a(href='https://twitter.com/copsneakers_com', class='text-white', style='text-decoration: none; margin-left: 0.5rem; padding: 0.25rem 0.5rem;')
          | Twitter
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\\/script>')
script(src='https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js')
script(src='https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js')
