extends partials/header

block content
  // Begin page content
  main.container(role='main')
    .jumbotron.mt-5
      h1.display-4 About CopSneakers.com
      p.lead CopSneakers provides you with the latest in sneaker news, takes a look back at sneaker history, and aims to create a community.
      hr.my-4
      p
        | Follow us on Social Media:
        a(href='https://tiktok.com/@copsneakers.com', class='mx-2') TikTok
        |  |
        a(href='https://x.com/copsneakers_com', class='mx-2') X/Twitter

  include partials/footer
